<div *ngIf="question && question.inputs">

  <div class="question" *ngFor="let q of (question.inputs || [])">
    <div *ngIf="q.type === 'string' || q.type === 'number'" class="sector">
      <div class="wrn-row wrn-container">
        <div class="wrn-c-sm-9 wrn-c-lg-10 wrn-hidden-desktop">
          <input type="text"
                 #algo
                 [(ngModel)]="reply"
                 placeholder="digite aqui"
                 required="true"
          >
          <button type="submit" (click)="replyQuestion()" class="wrn-button" mat-button>Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="question && question.buttons && question.buttons.length"
>
  <button
    type="button"
    *ngFor="let b of (question.buttons || [])"
    (click)="replyQuestion(b.value);" mat-button>
    {{b.label.title}}
  </button>
</div>
<div class="btn" *ngIf="question && question.id === 'final'">
  <button (click)="replyQuestion()">{{question.messages[0].value}}</button>
</div>

