.alignRight {
  text-align: right;
}
.footer {
  background:#cddc39;
}

.oi.oi-monitor {
  float: left;
  font-size: 18px;
  color: rebeccapurple;
}
.oi.oi-person {
  font-size: 18px;
  color: #dc0600;
}

.message-body {
  padding-bottom: 120px;
}
